<div style="display: flex; flex-direction: column; align-content: center">
  <h1 style="text-align: center" class="title-mouton">
    <img src="assets/images/titlemouton.png" alt="mouton masqué" />
  </h1>
  <div class="my-0 mr-md-auto font-weight-normal title-img">
    <img src="assets/images/salle-mouton.png" alt="mouton masque logo" />
  </div>
  <!-- <button class="btn btn-danger" routerLinkActive="active" routerLink="/product/add">ADD </button> -->
</div>
<div class="about-us-content">
  <div id="sep-about-us" class="separation"></div>
  <div class="text-about-us">
    <h2
      style="line-height: normal; text-align: center; font-size: 50px"
      class="title-aboutus"
    >
      Qui sommes-nous?
    </h2>
    <p class="paragraphe-about-us">
      Un restaurant de quarter,bistrot « ouvrier »... C’est-à-dire un lieu
      convivial où l’on peut boire et manger sans trop se ruiner. Un lieu où
      l’on vient et l’on revient, tant pour la qualité de sa cuisine que pour la
      chaleur de son atmosphère. PeRt salé aux lenRlles ou curry de lenRlles
      corail. Boeuf bourguignon, blanqueae de veau ou simple omeleae salade.
      Couscous, paëlla, chili ou cassoulet selon la saison et l’humeur du
      cuisinier. GraRn de ravioles, tartare coupé au couteau, salade lyonnaise,
      tarte salée, crème de buaernut aux marrons avec ou sans lardons, poireaux
      vinaigreae, oeufs mimosas, os à moelle, salade d’endives fourme pomme et
      noix servis en salle ou au comptoir…
    </p>
    <p class="paragraphe-about-us equipe">Notre équipe</p>
    <div class="container2">
      <div class="img-mouton-team">
        <img src="assets/images/mouton-team.jpg" alt="equipe mouton" />
      </div>
      <div style="margin-left: 60px">
        <p class="name">Mark Balavoine</p>
        <p class="name">Cuisinier</p>
      </div>
    </div>
    <p class="paragraphe-about-us space-fin">
      Pour être tout à fait fier de son travail, tout à fait heureux d’y aller.
      Soucieux du détail et du service client, il aime également transmebre sa
      passion du méEer, ce qu’il fait notamment au Hopper avec Vichka et Yoan.
      Deux collègues avec qui il aime parRculièrement travailler et qu’il décide
      d’embarquer dans l’aventure du Mouton masqué.
    </p>
  </div>
</div>
